<a href="https://colab.research.google.com/github/roy-sub/Time-Series-Air-Quality-Index-Prediction-and-Analysis-using-Multiple-Deep-Learning-Models/blob/main/Data_Pre_Processing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns;
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from numpy import array
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
from keras import optimizers
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [ ]:
df = pd.read_csv('/content/airquality_data.csv')
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,6.0,18.0,5.0,9.80000,800.0,88.0,0.1,1021.1,-18.6,0.0,7,4.4,5
1,2,2013,3,1,1,6.0,15.0,5.0,11.00000,800.0,88.0,-0.3,1021.5,-19.0,0.0,7,4.0,5
2,3,2013,3,1,2,5.0,18.0,5.2,10.09936,700.0,52.0,-0.7,1021.5,-19.8,0.0,14,4.6,5
3,4,2013,3,1,3,6.0,20.0,6.0,13.60000,320.0,49.8,-1.0,1022.7,-21.2,0.0,13,2.8,5
4,5,2013,3,1,4,5.0,17.0,5.0,15.60000,600.0,73.0,-1.3,1023.0,-21.4,0.0,14,3.6,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401621,35060,2017,2,28,19,14.0,21.0,3.0,27.00000,400.0,72.0,12.5,1013.5,-16.2,0.0,7,2.4,7
401622,35061,2017,2,28,20,18.0,27.0,3.0,37.00000,400.0,59.0,11.6,1013.6,-15.1,0.0,14,0.9,7
401623,35062,2017,2,28,21,15.0,39.0,5.0,50.00000,600.0,41.0,10.8,1014.2,-13.3,0.0,7,1.1,7
401624,35063,2017,2,28,22,11.0,35.0,6.0,49.00000,500.0,41.0,10.5,1014.4,-12.9,0.0,6,1.2,7
401625,35064,2017,2,28,23,10.0,28.0,7.0,48.00000,600.0,39.0,8.6,1014.1,-15.9,0.0,5,1.3,7

In [ ]:
df.shape

(401611, 33)

In [ ]:
df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
count,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000,401626.000000
mean,17484.719794,2014.658884,6.502360,15.720155,11.478734,67.919710,92.806920,14.417029,47.206833,1094.713815,58.951906,13.903409,1010.566714,2.574492,0.066690,6.895761,1.759858,5.489157
std,10105.273512,1.176326,3.392095,8.798253,6.894483,57.800217,72.748764,19.305778,31.235928,893.589289,56.467451,11.418260,10.556388,13.979074,0.825855,4.591948,1.259255,3.450649
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,0.214200,-19.900000,982.400000,-43.400000,0.000000,0.000000,0.000000,0.000000
25%,8815.000000,2014.000000,4.000000,8.000000,6.000000,20.000000,34.000000,2.000000,22.000000,500.000000,13.200000,3.700000,1002.000000,-9.300000,0.000000,3.000000,0.900000,2.000000
50%,17549.000000,2015.000000,7.000000,16.000000,11.000000,52.000000,78.000000,7.000000,41.000000,800.000000,47.000000,15.100000,1010.000000,3.600000,0.000000,6.000000,1.400000,5.000000
75%,26289.750000,2016.000000,9.000000,23.000000,17.000000,100.000000,134.000000,18.000000,67.000000,1400.000000,83.000000,23.500000,1019.000000,15.400000,0.000000,11.000000,2.300000,8.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,247.000000,999.000000,500.000000,245.000000,10000.000000,1071.000000,41.600000,1042.800000,29.100000,72.500000,16.000000,13.200000,11.000000

In [ ]:
df = df.dropna()

In [ ]:
df["PM10_24hr_avg"] = df["PM10"].rolling(window = 24, min_periods = 16).mean().values
df["PM2.5_24hr_avg"] = df["PM2.5"].rolling(window = 24, min_periods = 16).mean().values
df["SO2_24hr_avg"] = df["SO2"].rolling(window = 24, min_periods = 16).mean().values
df["NO2_24hr_avg"] = df["NO2"].rolling(window = 24, min_periods = 16).mean().values
df["CO_8hr_max"] = df["CO"].rolling(window = 8, min_periods = 1).max().values
df["O3_8hr_max"] = df["O3"].rolling(window = 8, min_periods = 1).max().values

In [ ]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,RAIN,wd,WSPM,station,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NO2_24hr_avg,CO_8hr_max,O3_8hr_max
0,1,2013,3,1,0,6.0,18.0,5.0,9.80000,800.0,...,0.0,7,4.4,5,NaN,NaN,NaN,NaN,800.0,88.0
1,2,2013,3,1,1,6.0,15.0,5.0,11.00000,800.0,...,0.0,7,4.0,5,NaN,NaN,NaN,NaN,800.0,88.0
2,3,2013,3,1,2,5.0,18.0,5.2,10.09936,700.0,...,0.0,14,4.6,5,NaN,NaN,NaN,NaN,800.0,88.0
3,4,2013,3,1,3,6.0,20.0,6.0,13.60000,320.0,...,0.0,13,2.8,5,NaN,NaN,NaN,NaN,800.0,88.0
4,5,2013,3,1,4,5.0,17.0,5.0,15.60000,600.0,...,0.0,14,3.6,5,NaN,NaN,NaN,NaN,800.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401621,35060,2017,2,28,19,14.0,21.0,3.0,27.00000,400.0,...,0.0,7,2.4,7,36.416667,23.666667,8.108333,43.025000,400.0,94.0
401622,35061,2017,2,28,20,18.0,27.0,3.0,37.00000,400.0,...,0.0,14,0.9,7,34.625000,22.708333,7.900000,41.525000,400.0,94.0
401623,35062,2017,2,28,21,15.0,39.0,5.0,50.00000,600.0,...,0.0,7,1.1,7,32.666667,21.083333,7.775000,39.400000,600.0,94.0
401624,35063,2017,2,28,22,11.0,35.0,6.0,49.00000,500.0,...,0.0,6,1.2,7,29.875000,19.416667,7.525000,37.775000,600.0,92.0
401625,35064,2017,2,28,23,10.0,28.0,7.0,48.00000,600.0,...,0.0,5,1.3,7,26.541667,17.500000,7.191667,35.566667,600.0,92.0

In [ ]:
df.isnull().sum()

No                 0
year               0
month              0
day                0
hour               0
PM2.5              0
PM10               0
SO2                0
NO2                0
CO                 0
O3                 0
TEMP               0
PRES               0
DEWP               0
RAIN               0
wd                 0
WSPM               0
station            0
PM10_24hr_avg     15
PM2.5_24hr_avg    15
SO2_24hr_avg      15
NO2_24hr_avg      15
CO_8hr_max         0
O3_8hr_max         0
dtype: int64

In [ ]:
df = df.dropna()
df.isnull().sum()

No                0
year              0
month             0
day               0
hour              0
PM2.5             0
PM10              0
SO2               0
NO2               0
CO                0
O3                0
TEMP              0
PRES              0
DEWP              0
RAIN              0
wd                0
WSPM              0
station           0
PM10_24hr_avg     0
PM2.5_24hr_avg    0
SO2_24hr_avg      0
NO2_24hr_avg      0
CO_8hr_max        0
O3_8hr_max        0
dtype: int64

In [ ]:
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,RAIN,wd,WSPM,station,PM10_24hr_avg,PM2.5_24hr_avg,SO2_24hr_avg,NO2_24hr_avg,CO_8hr_max,O3_8hr_max
15,16,2013,3,1,15,13.0,16.0,8.0,11.2000,800.0,...,0.0,1,2.7,5,13.000000,6.500000,5.950000,12.043710,900.0,90.0
16,17,2013,3,1,16,11.0,22.0,6.0,15.4000,800.0,...,0.0,1,1.8,5,13.529412,6.764706,5.952941,12.241139,900.0,90.0
17,18,2013,3,1,17,10.0,20.0,4.0,9.8000,800.0,...,0.0,14,1.0,5,13.888889,6.944444,5.844444,12.105520,900.0,90.0
18,19,2013,3,1,18,11.0,20.0,6.0,12.6000,900.0,...,0.0,0,1.6,5,14.210526,7.157895,5.852632,12.131545,900.0,90.0
19,20,2013,3,1,19,11.0,31.0,8.0,12.0053,1000.0,...,0.0,0,1.7,5,15.050000,7.350000,5.960000,12.125233,1000.0,90.0

In [ ]:
def get_PM25_subindex(x):
    if x <= 30:
        return x * 50 / 30
    elif x <= 60:
        return 50 + (x - 30) * 50 / 30
    elif x <= 90:
        return 100 + (x - 60) * 100 / 30
    elif x <= 120:
        return 200 + (x - 90) * 100 / 30
    elif x <= 250:
        return 300 + (x - 120) * 100 / 130
    elif x > 250:
        return 400 + (x - 250) * 100 / 130
    else:
        return 0

In [ ]:
def get_PM10_subindex(x):
    if x <= 50:
        return x
    elif x <= 100:
        return x
    elif x <= 250:
        return 100 + (x - 100) * 100 / 150
    elif x <= 350:
        return 200 + (x - 250)
    elif x <= 430:
        return 300 + (x - 350) * 100 / 80
    elif x > 430:
        return 400 + (x - 430) * 100 / 80
    else:
        return 0

In [ ]:
def get_SO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 380:
        return 100 + (x - 80) * 100 / 300
    elif x <= 800:
        return 200 + (x - 380) * 100 / 420
    elif x <= 1600:
        return 300 + (x - 800) * 100 / 800
    elif x > 1600:
        return 400 + (x - 1600) * 100 / 800
    else:
        return 0

In [ ]:
def get_NO2_subindex(x):
    if x <= 40:
        return x * 50 / 40
    elif x <= 80:
        return 50 + (x - 40) * 50 / 40
    elif x <= 180:
        return 100 + (x - 80) * 100 / 100
    elif x <= 280:
        return 200 + (x - 180) * 100 / 100
    elif x <= 400:
        return 300 + (x - 280) * 100 / 120
    elif x > 400:
        return 400 + (x - 400) * 100 / 120
    else:
        return 0

In [ ]:
def get_CO_subindex(x):
    if x <= 1:
        return x * 50 / 1
    elif x <= 2:
        return 50 + (x - 1) * 50 / 1
    elif x <= 10:
        return 100 + (x - 2) * 100 / 8
    elif x <= 17:
        return 200 + (x - 10) * 100 / 7
    elif x <= 34:
        return 300 + (x - 17) * 100 / 17
    elif x > 34:
        return 400 + (x - 34) * 100 / 17
    else:
        return 0

In [ ]:
def get_O3_subindex(x):
    if x <= 50:
        return x * 50 / 50
    elif x <= 100:
        return 50 + (x - 50) * 50 / 50
    elif x <= 168:
        return 100 + (x - 100) * 100 / 68
    elif x <= 208:
        return 200 + (x - 168) * 100 / 40
    elif x <= 748:
        return 300 + (x - 208) * 100 / 539
    elif x > 748:
        return 400 + (x - 400) * 100 / 539
    else:
        return 0

In [ ]:
df["PM2.5_SubIndex"] = df["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))
df["PM10_SubIndex"] = df["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))
df["SO2_SubIndex"] = df["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))
df["NO2_SubIndex"] = df["NO2_24hr_avg"].apply(lambda x: get_NO2_subindex(x))
df["CO_SubIndex"] = df["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))
df["O3_SubIndex"] = df["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

<ipython-input-55-fc5caf8b39e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PM2.5_SubIndex"] = df["PM2.5_24hr_avg"].apply(lambda x: get_PM25_subindex(x))
<ipython-input-55-fc5caf8b39e7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PM10_SubIndex"] = df["PM10_24hr_avg"].apply(lambda x: get_PM10_subindex(x))
<ipython-input-55-fc5caf8b39e7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SO2_SubIndex"] = df["SO2_24hr_avg"].apply(lambda x: get_SO2_subindex(x))
<ipython-input-55-fc5caf8b39e7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["NO2_SubIndex"] = df["NO2_24hr_avg"].apply(lambda x: get_NO2_subindex(x))
<ipython-input-55-fc5caf8b39e7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["CO_SubIndex"] = df["CO_8hr_max"].apply(lambda x: get_CO_subindex(x))
<ipython-input-55-fc5caf8b39e7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["O3_SubIndex"] = df["O3_8hr_max"].apply(lambda x: get_O3_subindex(x))

In [ ]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,SO2_24hr_avg,NO2_24hr_avg,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NO2_SubIndex,CO_SubIndex,O3_SubIndex
15,16,2013,3,1,15,13.0,16.0,8.0,11.2000,800.0,...,5.950000,12.043710,900.0,90.0,10.833333,13.000000,7.437500,15.054638,5494.117647,90.0
16,17,2013,3,1,16,11.0,22.0,6.0,15.4000,800.0,...,5.952941,12.241139,900.0,90.0,11.274510,13.529412,7.441176,15.301424,5494.117647,90.0
17,18,2013,3,1,17,10.0,20.0,4.0,9.8000,800.0,...,5.844444,12.105520,900.0,90.0,11.574074,13.888889,7.305556,15.131900,5494.117647,90.0
18,19,2013,3,1,18,11.0,20.0,6.0,12.6000,900.0,...,5.852632,12.131545,900.0,90.0,11.929825,14.210526,7.315789,15.164432,5494.117647,90.0
19,20,2013,3,1,19,11.0,31.0,8.0,12.0053,1000.0,...,5.960000,12.125233,1000.0,90.0,12.250000,15.050000,7.450000,15.156541,6082.352941,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401621,35060,2017,2,28,19,14.0,21.0,3.0,27.0000,400.0,...,8.108333,43.025000,400.0,94.0,39.444444,36.416667,10.135417,53.781250,2552.941176,94.0
401622,35061,2017,2,28,20,18.0,27.0,3.0,37.0000,400.0,...,7.900000,41.525000,400.0,94.0,37.847222,34.625000,9.875000,51.906250,2552.941176,94.0
401623,35062,2017,2,28,21,15.0,39.0,5.0,50.0000,600.0,...,7.775000,39.400000,600.0,94.0,35.138889,32.666667,9.718750,49.250000,3729.411765,94.0
401624,35063,2017,2,28,22,11.0,35.0,6.0,49.0000,500.0,...,7.525000,37.775000,600.0,92.0,32.361111,29.875000,9.406250,47.218750,3729.411765,92.0
401625,35064,2017,2,28,23,10.0,28.0,7.0,48.0000,600.0,...,7.191667,35.566667,600.0,92.0,29.166667,26.541667,8.989583,44.458333,3729.411765,92.0

In [ ]:
## AQI bucketing
def get_AQI_bucket(x):
    if x <= 50:
        return "Good"
    elif x <= 100:
        return "Satisfactory"
    elif x <= 200:
        return "Moderate"
    elif x <= 300:
        return "Poor"
    elif x <= 400:
        return "Very Poor"
    elif x > 400:
        return "Severe"
    else:
        return np.NaN

df["Checks"] = (df["PM2.5_SubIndex"] > 0).astype(int) + \
                (df["PM10_SubIndex"] > 0).astype(int) + \
                (df["SO2_SubIndex"] > 0).astype(int) + \
                (df["NO2_SubIndex"] > 0).astype(int) + \
                (df["CO_SubIndex"] > 0).astype(int) + \
                (df["O3_SubIndex"] > 0).astype(int)

df["AQI_calculated"] = round(df[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NO2_SubIndex",
                                 "CO_SubIndex", "O3_SubIndex"]].max(axis = 1))
df.loc[df["PM2.5_SubIndex"] + df["PM10_SubIndex"] <= 0, "AQI_calculated"] = np.NaN
df.loc[df.Checks < 3, "AQI_calculated"] = np.NaN

df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))
df[~df.AQI_calculated.isna()].head(13)

<ipython-input-57-9bc481bbbd8f>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Checks"] = (df["PM2.5_SubIndex"] > 0).astype(int) + \
<ipython-input-57-9bc481bbbd8f>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AQI_calculated"] = round(df[["PM2.5_SubIndex", "PM10_SubIndex", "SO2_SubIndex", "NO2_SubIndex",
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-57-9bc481bbbd8f>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AQI_bucket_calculated"] = df["AQI_calculated"].apply(lambda x: get_AQI_bucket(x))

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
15,16,2013,3,1,15,13.0,16.0,8.0,11.2000,800.0,...,90.0,10.833333,13.000000,7.437500,15.054638,5494.117647,90.0,6,5494.0,Severe
16,17,2013,3,1,16,11.0,22.0,6.0,15.4000,800.0,...,90.0,11.274510,13.529412,7.441176,15.301424,5494.117647,90.0,6,5494.0,Severe
17,18,2013,3,1,17,10.0,20.0,4.0,9.8000,800.0,...,90.0,11.574074,13.888889,7.305556,15.131900,5494.117647,90.0,6,5494.0,Severe
18,19,2013,3,1,18,11.0,20.0,6.0,12.6000,900.0,...,90.0,11.929825,14.210526,7.315789,15.164432,5494.117647,90.0,6,5494.0,Severe
19,20,2013,3,1,19,11.0,31.0,8.0,12.0053,1000.0,...,90.0,12.250000,15.050000,7.450000,15.156541,6082.352941,90.0,6,6082.0,Severe
20,21,2013,3,1,20,13.0,25.0,12.0,5.0000,1100.0,...,90.0,12.698413,15.523810,7.809524,14.732420,6670.588235,90.0,6,6671.0,Severe
21,22,2013,3,1,21,15.0,23.0,14.0,13.0000,1200.0,...,90.0,13.257576,15.863636,8.250000,14.801401,7258.823529,90.0,6,7259.0,Severe
22,23,2013,3,1,22,16.0,28.0,16.0,19.0000,1200.0,...,90.0,13.840580,16.391304,8.760870,15.190471,7258.823529,90.0,6,7259.0,Severe
23,24,2013,3,1,23,16.0,28.0,14.0,20.0000,1100.0,...,90.0,14.375000,16.875000,9.125000,15.599201,7258.823529,90.0,6,7259.0,Severe
24,25,2013,3,2,0,14.0,18.0,24.0,43.0000,1399.0,...,87.0,14.930556,16.875000,10.114583,17.328368,8429.411765,87.0,6,8429.0,Severe
25,26,2013,3,2,1,18.0,39.0,25.0,28.0000,1300.0,...,80.0,15.763889,17.875000,11.156250,18.213784,8429.411765,80.0,6,8429.0,Severe
26,27,2013,3,2,2,19.0,29.0,30.0,13.0000,1100.0,...,69.0,16.736111,18.333333,12.447917,18.364859,8429.411765,69.0,6,8429.0,Severe
27,28,2013,3,2,3,15.0,24.0,20.0,12.0000,1000.0,...,61.0,17.361111,18.500000,13.177083,18.281526,8429.411765,61.0,6,8429.0,Severe

In [ ]:
df[~df.AQI_calculated.isna()].AQI_bucket_calculated.value_counts()

Severe    401611
Name: AQI_bucket_calculated, dtype: int64

In [ ]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated,AQI_bucket_calculated
15,16,2013,3,1,15,13.0,16.0,8.0,11.2000,800.0,...,90.0,10.833333,13.000000,7.437500,15.054638,5494.117647,90.0,6,5494.0,Severe
16,17,2013,3,1,16,11.0,22.0,6.0,15.4000,800.0,...,90.0,11.274510,13.529412,7.441176,15.301424,5494.117647,90.0,6,5494.0,Severe
17,18,2013,3,1,17,10.0,20.0,4.0,9.8000,800.0,...,90.0,11.574074,13.888889,7.305556,15.131900,5494.117647,90.0,6,5494.0,Severe
18,19,2013,3,1,18,11.0,20.0,6.0,12.6000,900.0,...,90.0,11.929825,14.210526,7.315789,15.164432,5494.117647,90.0,6,5494.0,Severe
19,20,2013,3,1,19,11.0,31.0,8.0,12.0053,1000.0,...,90.0,12.250000,15.050000,7.450000,15.156541,6082.352941,90.0,6,6082.0,Severe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401621,35060,2017,2,28,19,14.0,21.0,3.0,27.0000,400.0,...,94.0,39.444444,36.416667,10.135417,53.781250,2552.941176,94.0,6,2553.0,Severe
401622,35061,2017,2,28,20,18.0,27.0,3.0,37.0000,400.0,...,94.0,37.847222,34.625000,9.875000,51.906250,2552.941176,94.0,6,2553.0,Severe
401623,35062,2017,2,28,21,15.0,39.0,5.0,50.0000,600.0,...,94.0,35.138889,32.666667,9.718750,49.250000,3729.411765,94.0,6,3729.0,Severe
401624,35063,2017,2,28,22,11.0,35.0,6.0,49.0000,500.0,...,92.0,32.361111,29.875000,9.406250,47.218750,3729.411765,92.0,6,3729.0,Severe
401625,35064,2017,2,28,23,10.0,28.0,7.0,48.0000,600.0,...,92.0,29.166667,26.541667,8.989583,44.458333,3729.411765,92.0,6,3729.0,Severe

In [ ]:
df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,...,CO_8hr_max,O3_8hr_max,PM2.5_SubIndex,PM10_SubIndex,SO2_SubIndex,NO2_SubIndex,CO_SubIndex,O3_SubIndex,Checks,AQI_calculated
count,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,...,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.000000,401611.0,401611.000000
mean,17485.372542,2014.658946,6.502491,15.720705,11.478901,67.922020,92.809908,14.417351,47.208144,1094.726267,...,1512.663760,88.838174,138.331228,86.551020,17.922042,58.632777,9098.022119,99.110952,6.0,9098.029280
std,10104.897744,1.176304,3.392090,8.797957,6.894507,57.800058,72.748472,19.306063,31.235770,893.603211,...,1133.413463,66.907801,106.821324,46.038496,19.291152,28.858411,6667.138020,84.254564,0.0,6667.140933
min,1.000000,2013.000000,1.000000,1.000000,0.000000,2.000000,2.000000,0.285600,1.026500,100.000000,...,100.000000,0.428400,5.000000,3.041667,1.250000,2.500000,788.235294,0.428400,6.0,788.000000
25%,8816.000000,2014.000000,4.000000,8.000000,6.000000,20.000000,34.200000,2.000000,22.000000,500.000000,...,700.000000,43.000000,48.486111,48.595833,4.739583,37.450828,4317.647059,43.000000,6.0,4318.000000
50%,17550.000000,2015.000000,7.000000,16.000000,11.000000,52.000000,78.000000,7.000000,41.000000,800.000000,...,1200.000000,73.000000,97.430556,84.458333,10.651767,55.052083,7258.823529,73.000000,6.0,7259.000000
75%,26290.000000,2016.000000,9.000000,23.000000,17.000000,100.000000,134.000000,18.000000,67.000000,1400.000000,...,1900.000000,118.000000,222.083333,117.833333,23.437500,76.718750,11376.470588,126.470588,6.0,11376.000000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,247.000000,999.000000,500.000000,245.000000,10000.000000,...,10000.000000,1071.000000,388.429487,541.354167,129.013889,198.291667,59023.529412,524.489796,6.0,59024.000000

In [ ]:
df.to_csv(r'air_quality_data_preprocessed', index = False)